<html>
<head>
	<title></title>
</head>
<center>
	
	<body>
<b><h2>  "<%= @gossips.title %>" </h2></b>
<p><i><%= @gossips.content %></i></p>
<br>
<p><%= @gossips.updated_at %></p>
<br>
<p> by <%= "#{@user.last_name}"%> <%= "#{@user.first_name}"%>, <%= "#{@user.age}" %> ans</p> 
<p>PAGE DE L'AUTEUR: <%= link_to "clique ici", users_path(@user.id) %> </p>

</center>

</body>
</html>