<html>
<head>
	<title></title>
</head>
<body>
<p>	CONTENT <%= @gossips.content %> </p>
<p>TITLE 	  <%= @gossips.title %> </p>	   
<p> DATE <%= @gossips.updated_at %> </p>











<p> LAST NAME <%= "#{@user.last_name}" %> </p>
<p> FIRST NAME <%= "#{@user.first_name}" %> </p>
<p> AGE <%= "#{@user.age}" %> </p>
<p> DESCRIPTION <%= "#{@user.description}" %> </p>

</body>
</html>